/* importerar robot från google fonts font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #626262
}

/* Stylar om Sociala medieikoner och går då mot a taggen */

a {
    color:  #2BAAEC;
    text-decoration: none;
}

a:hover {
    color: #25e6c8;
}

/* Containern mobile first,  */
/* 0 i höjd 1 rem i sidled. och margin 0 i höjd och auto i sidled */
.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}
/* .bg-gray {
    background: #DEDEDE;

} */
.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.75rem 2.5rem;
   border-radius: 0.5rem; 
}

.btn-greenish {
    color: #fff;
    background-color: #25E6C8;
    font-weight: bold;
  }
/* Annars kan knappen fixas enligt nedan*/
/* .btn-primary {
    background-color: #25E6C8;
    color: whitesmoke;
} */
  

/* den övre border #707070 */
.navbar-top {
    border-bottom: 1px solid #707070;
    padding: 0.5rem;
    
}

/* i navbar -top finns det en container, detta då om man inte vill flexa allt, då kommer bara containern att stylas i navbartop */
/* för att fixa top menu kan vi lägga till .navbar och .container direkt så slipper vi att skriva det en gång till, men får inte detta att fungera av någopn anledning */
.navbar-top .container, .navbar .container {
    display: flex;
    justify-content: space-between;
   
}
/* vill bara styla översta klockan för att framtidsäkra och då gör vi på detta sätt */
.navbar-top .container .hours i {
   color: #2BAAEC;
   margin-right: 0.5rem;
   font-size: 1.2rem;
}

/* försöker få till mellanrum mellan ikonerna */
.navbar-top .container .socialicons a {
    margin: 0 0.5rem;
}
/* nedre slänger jag upp i .navbar-top .container, men av någon anledning funkar det inte riktig */
/* .navbar .container {
    display: flex;
    justify-content: space-between;
} */

.navbar .container {
    align-items: center;
}

.navbar {
    margin: 1.2rem 0;
    padding: 0.5rem;
    /* margin-right: 0.5rem; */
}

.navbar-brand img {
    height: 4rem;
}

.navbar-nav {
   display: flex;
   flex-direction: column;
   /* justify-content: space-between;
   padding-right: 10; */

 }



.nav-link{
  color: #363636;
  font-family: 'Roboto Slab', serif;
  }

.navbar-toggler {
   font-size: 2.5rem; 
   color: #2BAAEC;
   background-color: transparent;
   border: 1px solid transparent;
  }




.text-center {
    align-items: flex;
    justify-content: space-evenly;
}



.navbar {
    padding: 0rem 1rem;
}


.collapse:not(.show) {
    display: none;
}



/* showcase */

#showcase {
    background-image: linear-gradient(to bottom right, #DEDEDE, #DEDEDE);
    min-height: 200px;
}
#showcase .container {
    display: flex;
    justify-content: space-between;
}

#showcase .container img{
    height: 500px;
    /* font-display: none; */
    margin-top: 1rem;
}

.content {
    align-self: center;
    margin-left: 4rem;
    /* text-align: left; */
    /* padding: 7rem;
    height: 100%; */
}

/* .text {

    margin-bottom: 3rem;
    margin-top: 0.5rem;
    color: #363636;
    
} */

.container .text h1 {
    color: #363636;
    font-family: 'Roboto Slab', serif;
    font-size: 3.0rem;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 3rem;
    margin-top: 0.5rem;

}
.container .text p {
    font-size: 0.9;
    margin: 2rem 0;
    
}

.appointment {
    display: flex;
    width: 100%;
    background-color: rgba(43, 170, 236, 0.8);
    height: 220px;
    font-family: 'Roboto Slab', serif;
    font-size: larger;
    /* text-align: center; */
    color: rgba(243, 251, 255, 0.9);
    justify-content: space-between;

}

.btn-white {
    color: #2baaec;
    background-color: #fff;
    font-weight: bold;
}

/* /* .text-center {
    text-align:center;
} */

/* .footer {
    background-color: #2BAAEC;
} */
/* detta funkade för mig ett tag, men sen ändrade jag om något och sen funkade det inte igen?? */
/* .footer .copyright i { */
/* .footer .copyright i {
    margin: auto;
    padding: 2rem;
    color: rgba(243, 251, 255, 0.6);
    vertical-align: center;
    text-align: center;
} */

.footer {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    width: 100%;
    padding: 1.5rem;
    background-color:#2BAAEC;
    text-align: center;
} 
/* den här vill jag egentligen lägga upp i footer i rade ovan, men får inte till det riktigt */
    .copyright i {
    color: #F3FBFF;
    opacity: 60%; 

} 
/* försökte att få till opacity men det vill sig inte riktigt */
/* .textfoot {
   opacity: 60; */


@media(min-width: 768px) {
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        padding: 0 0.5rem;
    }
    .collapse:not( .show) {
        display: flex;
    }
    .navbar-toggler {
        display: none;
    }
    .container {
        max-width: 720px;
    }
} 

@media(min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}