/* importerar robot från google fonts font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #626262
}

/* Stylar om Sociala medieikoner och går då mot a taggen */

a {
    color:  #2BAAEC;
    text-decoration: none;
}

a:hover {
    color: #25e6c8;
}
/* Containern mobile first,  */
/* 0 i höjd 1 rem i sidled. och margin 0 i höjd och auto i sidled */
.container {
    width: 100%;
    padding:0 1rem;
    margin:0 auto;
}

/* den övre border #707070 */
.navbar-top {
    border-bottom: 1px solid #707070;
    padding: 0.5rem;
    
}

/* i navbar -top finns det en container, detta då om man inte vill flexa allt, då kommer bara containern att stylas i navbartop */
.navbar-top .container {
    display: flex;
    justify-content: space-between;
   
}
/* vill bara styla översta klockan för att framtidsäkra och då gör vi på detta sätt */
.navbar-top .container .hours i {
   color: #2BAAEC;
   margin-right: 0.5rem;
   font-size: 1.2rem;
}

/* försöker få till mellanrum mellan ikonerna */
.navbar-top .container .socialicons a {
    margin: 0 0.5rem;
}



    /* top nav */

.top-nav {
    padding: 0.2rem 1 rem;
    border-bottom: 1px solid #333333;
    display:none;
}

.box-1 {
   margin: 20px 0 0 0;
}


.text-center {
    align-items: flex;
    justify-content: space-evenly;
}


/* navbar */
.navbar {
    padding: 0rem 1rem;
}

.navbar .container {
    display: flex;
    justify-content: space-around;
}

.nav-link {
    list-style: none;
}
/* /* .navbar-nav {
    display: flex;
    flex flex-direction: column; */

  
   
 */

/* showcase */

#showcase {
    background-image: linear-gradient(to bottom right, #DEDEDE, #DEDEDE);
    min-height: 200px;
}
#showcase .container{
    display: flex;
    justify-content: space-evenly;
}

#showcase .container img{
    height: 500px;
    font-display: none;
}

.content {
    align-self: center;
    /* text-align: center; */
    padding: 7rem;
    height: 100%;
}

.text {

    margin-bottom: 3rem;
    /* margin-top: 0.5rem; */
    
}
.btn {
    padding: 0.75rem 2.5rem;  
    border-radius: 0.5rem;    
    border: 1px solid transparent;    
    outline: none;    
    cursor: pointer;    
    display: inline-block;    
    font-weight: 600;    
    font-size: 1rem;    
    background-color: #25E6C8;    
    width: 100;    
}  
/* kolla detta innan du lämnar in om detta var bootstrap eller fontawesome */
.btn-primary {
    background-color: #25E6C8;
    color: whitesmoke;
}
